.primary_button {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
    width: 100%;
    padding: 0.75rem;
    background-color: white;
    color: black;
    border: 1px solid var(--gray-900);
    border-radius: 0.8rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
}

.primary_button:hover {
    opacity: 0.6;
}
